.home {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.home__row {
  display: flex;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}


.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


.home__backToTopButton {
  bottom: 20px;
  right: 20px;
  color: white;
  background-color: #384a5e;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width:100%;
  font-size: 12px;
}

.home__backToTopButton:hover {
  background-color: #43556a;
}

.back-to-top-icon {
  color: #000000;
  font-size: 18px;
}